doctype html
html(lang="en")
  head
    title Timestamp Microservice
  body
    h1 Simple Timestamp API
    p Pass in a unix timestamp or date string as a parameter, such as: "September 18, 2012" or "1347926400"
    p Example usage: #{domainName + date}
